In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore") 

import os
item_lst = os.listdir()

In [2]:
path = "C:/Users/offic/OneDrive/Documents/NationalCollegeOfIreland/GitRepo/NCI ALL Data/National-College-Of-Ireland/RIC/Project/CarReviewsLatestDataSet/"

In [3]:
item_lst = os.listdir(path)

In [4]:
reviewDataSet  = pd.DataFrame()
print(path+item_lst[0])

C:/Users/offic/OneDrive/Documents/NationalCollegeOfIreland/GitRepo/NCI ALL Data/National-College-Of-Ireland/RIC/Project/CarReviewsLatestDataSet/Car_Reviews_Database.csv

In [5]:
tempDataSet = pd.read_csv(path+item_lst[0],encoding= 'unicode_escape')
reviewDataSet = reviewDataSet.append(tempDataSet,ignore_index=True)

In [6]:
reviewDataSet

     Year   Model                                              Review
0    2009    Honda  Although arguably the first-generation Insight...
1    2009    Honda  2009 Honda Accord EX-L 4  : This car is very c...
2    2010    Honda  I have owed and driven Honda products for 20 y...
3    2010    Honda  Honda Accord Euro L : The seats are average, b...
4    2011    Honda   Honda HR-V: Continuous variable transmission ...
..    ...      ...                                                ...
273  2019   Honda   Honda Civic EX: Very clever design and very sp...
274  2019  Hyundai  Hyundai Sonata 2.4: Large car and spacious car...
275  2019  Genesis  If you can deal with (or prefer?) rear-wheel d...
276  2019     Ford   Ford Escape XLT 2.5 : I really didn't want to...
277  2019      BMW  The BMW 3 Series is known as a driver's car, a...

[278 rows x 3 columns]

In [7]:
reviewDataSet.isna().sum()

Year       0
Model      0
Review    44
dtype: int64

In [8]:
reviewDataSet = reviewDataSet.dropna()

In [9]:
reviewDataSet

     Year   Model                                              Review
0    2009    Honda  Although arguably the first-generation Insight...
1    2009    Honda  2009 Honda Accord EX-L 4  : This car is very c...
2    2010    Honda  I have owed and driven Honda products for 20 y...
3    2010    Honda  Honda Accord Euro L : The seats are average, b...
4    2011    Honda   Honda HR-V: Continuous variable transmission ...
..    ...      ...                                                ...
273  2019   Honda   Honda Civic EX: Very clever design and very sp...
274  2019  Hyundai  Hyundai Sonata 2.4: Large car and spacious car...
275  2019  Genesis  If you can deal with (or prefer?) rear-wheel d...
276  2019     Ford   Ford Escape XLT 2.5 : I really didn't want to...
277  2019      BMW  The BMW 3 Series is known as a driver's car, a...

[234 rows x 3 columns]

In [10]:
reviewDataSet.to_csv('LatestCleanedDataSet.csv',index=False)